<a href="https://colab.research.google.com/github/AlessandraSalanitri/Analytics-and-Business-Intelligence/blob/main/1Assessment_Pandas%26Descr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas & Descriptive Statistics

# Dataset used in this analysis is:  # **Titanic** from *seaborn library*.


As in the previous file, all the libraries needed are imported and the info() is prompt to have a general idea of the

In [ ]:
import pandas as pd
import math
import numpy as np
import statistics
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

titanic = sns.load_dataset("titanic")
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

The head() method displays by default, the first 5 rows of the dataset.
The query in the code below requests specifically the first 10 rows of the dataset, this is accomplished by inserting the desired value inside the parenthesis.
This method offers a first basic insight into the data structure and initial observations.

In [ ]:
titanic.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

To displays one, two, or more specific columns allowing further exploration of specific data points, the code below is used.
In this case, because it is not specified how many rows are being required, by default, the first 5 rows will be displayed.

In [ ]:
titanic [['age' , 'sex']].head()

    age     sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

The tail() method, displays by default the last 5 elements of the dataset.
In the code below, however, the query is specifically requiring the last 10 rows.

In [ ]:
titanic.tail(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

To display *from a specific column*, the lasts 6 values

In [ ]:
titanic[['age' ]].tail(6)

      age
885  39.0
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

The loc[ ] method retrieves specific rows based on the index value provided inside the brackets. In this case, the query extracts data from rows 10 to 20, displaying a targeted view of the dataset.

In [ ]:
titanic.loc [10 : 20]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True

The shape() method provides a concise representation of the dataset's dimensions, returning a tuple containing the number of rows and columns.

In [ ]:
titanic.shape

(891, 15)

The .dtypes attribute explicitly specifies the data types of each column, enabling a clear understanding of the data's structure.

In [ ]:
titanic.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

The .columns attribute retrieves the dataset's header information in the form of a Pandas Series.

In [ ]:
print(titanic.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

The list() function converts this series into a standard Python list for further manipulation.

In [ ]:
columns = list(titanic.columns)
print(columns)

['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

The .describe() method generates comprehensive statistical summaries of the dataset.

In [ ]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

As shown in the code below, by specifying a column title within the brackets, the mean for that particular column can be isolated and displayed.

In [ ]:
titanic['survived'].describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: survived, dtype: float64

Additionally, formatted strings can be employed to limit the decimal places of float numbers using the xf format, where x represents the desired decimal precision as shown in below code lines. This ensure a better readability for stakeholders and decision maker.

In [ ]:
print(f"Mean value for individual survived: {titanic['survived'].mean() :.2f}")
print(f"Standard Deviation for individual survived: {titanic['survived'].std():.2f}")
print(f"Min value for individual survived: {titanic['survived'].min()}")
print(f"Max value for individual survived: {titanic['survived'].max()}")

Mean value for individual survived: 0.38
Standard Deviation for individual survived: 0.49
Min value for individual survived: 0
Max value for individual survived: 1

The .select_dtypes() method enables the extraction of columns based on their data types. The exclude and include parameters allow for selective filtering, making it easier to isolate specific data subsets.

Categorical data is being displayed

In [ ]:
numeric_data = titanic.select_dtypes(exclude='object')
categorical_data = titanic.select_dtypes(include='object')

categorical_data.describe()

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

The .select_dtypes() method enables the extraction of columns based on their data types. The exclude and include parameters allow for selective filtering, making it easier to isolate specific data subsets.

numeric data is being displayed

In [ ]:
numeric_data = titanic.select_dtypes(exclude='object')
categorical_data = titanic.select_dtypes(include='object')

numeric_data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

The code below is used to find the mean() , also known as average().
The mean value is generally used for statistics and data analysis. It summarizes the entire dataset with a number that represents the data’s center point.

In [ ]:
numeric_data.mean()

<ipython-input-39-e208903ade19>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  numeric_data.mean()

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [ ]:

numeric_data['fare'].mean()

32.204207968574636

The mode is the most frequent value stored within a column.
It is the only average value that can have no value, one value or more than one value.
One value because if none of the number are repeated, that column does not have a mode. More than one value because if there are two values in the same column to have the same frequency, both values are the mode.

In [ ]:
numeric_data.mode()

   survived  pclass   age  sibsp  parch  fare  class  adult_male deck  alone
0         0       3  24.0      0      0  8.05  Third        True    C   True

Median is the value in the exact middle of the data.
To calculate the median, the values in the column needs to be sorted from smallest to largest.

In [ ]:
statistics.median(numeric_data['fare'])

14.4542

The standard deviation or std measures the variation or dispersion in a set of values in a single number. It helps to identify trends and assess data reliability.

In [ ]:
statistics.stdev(numeric_data['fare'])

49.6934285971809

Variance measure how far the outliers are spread far from the mean.

In [ ]:
statistics.variance(numeric_data['fare'])

2469.4368457431165

The distribution of the data is illustrated as a curve. When the data do not have a normal distribution and, the curve is skewed to the left side, this is called a negative skewness. When the curve is skewed to the right side it is called the positive skewness.

In [ ]:
numeric_data.skew()

<ipython-input-45-f9269d312517>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  numeric_data.skew()

survived      0.478523
pclass       -0.630548
age           0.389108
sibsp         3.695352
parch         2.749117
fare          4.787317
adult_male   -0.420431
alone        -0.420431
dtype: float64

In [ ]:
numeric_data['fare'].skew()

4.787316519674893